.CardContainer{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
}

.card{
    display: inline-block;
    text-align: center;
    background-color: white;
    max-width: 218px;
    margin: 50px;
    border: 1px solid #b34d4d;  
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 29px rgba(0,0,0,0.1);
}
.card .cardImage{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 29px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.card .cardTitle{
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 20%);
}
.card .houseAdded{
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    color: hsl(0, 0%, 40%);
}
.card .houselocation{
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    color: hsl(0, 0%, 22%);
}
.card .cardButton{
    text-decoration: none;
    background: linear-gradient(267deg, #19376d 0.36%, lightgreen 100%);
    color: var(--color-text);
    border-radius: 70px;
    font-size: 15px;
    font-weight: 20;
    padding: 5px 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}